<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ZipCode</th>
          <th>PrefCode</th>
          <th>Address</th>
          <th>kana</th>
          <th>Introduction</th>
        </tr>
      </thead>
      <tbody>
      <% @areas.each do |area| %>
        <tr>
          <td><%= area.id %></td>
          <td><%= area.zipcode %></td>
          <td><%= area.prefcode %></td>
          <td><%= "#{area.address1}#{area.address2}#{area.address3}" %></td>
          <td><%= "#{area.kana1}#{area.kana2}#{area.kana3}" %></td>
          <td><%= area.introduction %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>